{% extends "templates/layouts/base.twig" %}

{% set title = "Start Page" %}

{% block content %}
	<section>
		<div class="container">
			<div class="wrap">
				<a href="ui.html">Link to Page List</a>
			</div>
		</div>
	</section>
{% endblock %}
